Path Proposal

_Edited to remove use of the term URI to reduce confusions where this proposal fails to conform to the standards for URIs._

Proposal for Urho's Path. I was looking for comments on it before I really start work. I think I'll try implementing it, but I don't know exactly how hard it will be, so I'm not certain how far I'll get...

This is bassed off of the discussion in issue #1866

Also, I'm not really sure how the // should be handled after the scheme -- forbid it, allow it and treat it as just a single slash, remove it and only have the path start with a / if there were three slashes (like file:///home/... in Chrome)...

# Path:

```
[Scheme:][Path][%SubFile][?Query][#Fragment]
```
All are case sensitive

 * ~~It is my opinion that we should actually switch the fragment and the query locations, so as to allow the fragment to be used to access resource pack internals and such. Basically I want to invert how true URIs are parsed. # will be used to 'look inside' a resource pak file (in part because # looks more like /) and represents new pages to load, while the query would be sent to the already loaded resource as a request for it to change its behavior (or clone itself and return the clone, e.g. Material.xml?MatEnvMapColor=FEED would return a clone of the material with the MatEnvMapColor set to the requested color). In accordance with this, I propose switching the position of the fragment and query as well.~~ (also removed the unnecessary and improper # from before the color)
 * **SubFile proposal:** Another proposal I have would be to allow another delimeter, perhaps one of the following, to be used to look inside a resource pak.:

    % ~ @ ; > + | $ /#/ [File/Path.file] &lt;File/Path.file> 
    
     * Path/To/Res.pak@File/Path.file, where @ is one of the delimeters (my prefered is %)
     * Path/To/Res.pak[File/Path.file] where [] are one of the matching delimeters
     * Perhaps allow a user-specified delimeter, and just choose a default one (my favored is one of the first three appearance wise, or /#/ parsing wise, though it does mean the fragment should not start with /

## Scheme

```
regex: ([^?#:]*):
```

Scheme may not contain ? or # (the former, at least, is not generally liked on filesystems) and in both cases this makes it such that a querry or a fragment will have priority in claiming the : so that a schemeless path with colon in query or fragment will be interpreted correctly

Unlike proper URIs, slashes are allowed (e.g. Data/Save0:)

Empty Scheme is allowed (":Path").

 * Should ":Path" differ from "Path"? <br> -- Possibly, it could be used to convey certain information about whether to use the resource cache or not...

## Query

```
regex: \?([^#]*)
```

Query begins with ? and may not contain # which begins the fragment

Empty Query is allowed ("Path?" or "Path?#Fragment").

 * Should "Path" differ from "Path?"? -- Probably not


## Fragment
```
regex: #(.*)
```

Fragment begins with the first # and continues through the rest of the path. Use for resources that will not need to be reloaded, perhaps. I would say use for accessing resources in package files, as someone else suggested

## SubFile

If my proposal is accepted for a different delimeter, then the subpath will extend from the delimeter to the start of the query, fragment, or end of the request, whichever comes first.

If it is not accepted, SubFile would not be a part of the path

Subfiles that begin after a / should be interpreted as just part of the path, with the subfile delimeter stripped (I think)

## Path

```
regex: ([^?#]*)
```

Path may not contain ? or # (the former, at least, is not generally liked on filesystems) and in both cases this makes it such that a querry or a fragment will have priority in claiming the trailing slashes, if needed

If my proposal is accepted for SubFile, then the Path must also exclude that character

Paths should follow unix-style conventions (i.e. forward slash) and to allow compatability with Window's drive letters, an option should be added to treat all single letter schemes as drive letters.


# Relative Paths:


A path will be deemed potentially relative if it contains /./ or /../ or ends with /. or 

Potentially relative paths should be evaluated to see if they are truly relative, stripping the previous directory with /../ and replacing all /./ with / and trailing /. with / (yes, this will prevent folders/files from being named ".", but it seems more convenient this way. If the path then begins with ../ from the replacements, it will be deemed definitively relative.

A path will be deemed definitively relative if it begins with ./ or ../ or if it is solely . or ..

If the path contains a subfile and an empty base the path is definitively relative


## Relative Path Evaluation
Relative paths must be evalueated against an absolute base path. This base path should be supplied when the resource is requested, or the present working directory will be used.

### Scheme Resoultion
If no scheme is provided by the relative path, the scheme will resolve to that of the base path and fall back to the resource chache/file system (no scheme or scheme file: or scheme cache: (TBD: which of these it will be))

If a scheme is provided by the relative path, that scheme will replace the scheme of the base path. According to an option in the ResourceCache/FileSystem, it will fallback to the default scheme (:, file:, cache: depending on what was chosen above)

**TODO:** Decide on what happens if you request "Data:../Techniques/Diff.xml"

 * Should it evaluate to Data/Data.pak's folder/Techniques/Diff.xml
 * Or perhaps just "Data:Techniques/Diff.xml" (prevent relative paths from going outside of the scheme)

### Subfile Resolution
Subfiles should evaluate the same way as a path if the resource pak had been used as a scheme

I.E. "file:Path/To/Data.pak%Materials/StoneMat.xml" should be equivalent to "Data:Materials/StoneMat.xml"



### Path Resoulution
The path should be appended to the base's path and then .. and . replacements should be made as needed. Traversal up past the root directory should not be allowed, but I think it should try to succeed by treating, e.g. /../../usr/ as just /usr/ (using Unix-style paths).

If the base path contains a path and a subfile and the relative path contains only a path, it should be interpreted as being a subfile instead of a path, appended to the base's SubFile portion and then absolutized.

If the base path contains a path and a subfile and the relative path contains only a subfile, it should be appended to see if it can be evalueated as a secondary subfile and if not it should replace the base path's subfile.

 * I think this should be impossible -- I feel the subfile should be viewed as just a path if there is no path

If the base path contains only a path and the relative path contains [optionally a path and] a subfile, the realtive path  [Path+]SubFileshould be appended to the base path path and evaluated accordingly

If the base path contains only a subfile, it should be viewed as a base Path with no subfile instead.

**TODO:** What about second-level subfiles (i.e. ResourcePaks inside ResourcePaks)?



### Fragment Resolution
If my proposal for using a different delimeter (i.e. SubFile proposal) for resource pak extraction is accepted, the fragment should behave like an HTML fragment -- the resource will be loaded, then the FragmentRequest will be made, which will be allowed to return an Object (or void* or Variant) so as to allow requesting e.g. a Patch from a Terrain or maybe an XMLElement from an XMLFile, but the return need not be used (it could be used to, e.g. focus the UI on a spot like in actual web pages)

In this case two more sets of methods should be added to the ResourceCache:
 * template&lt;T> Pair&lt;T,FragmentReturn> GetResourceAndFragment(Path) // loads the resource, calls the FragmentRequest(String Fragment) and returns it with the resource
 * template&lt;T> Pair&lt;SharedPtr&lt;T>,FragmentReturn> GetTempResourceAndFragment(Path) // loads the resource as temporary, calls the FragmentRequest(String Fragment) and returns it with the resource
 * FragmentReturn GetFragment(Path) // will load resource
 * FragmentReturn GetTempFragment(Path) // will load temporary resource and return it's fragment. *Generally unsafe*, as the resource will be deleted before the return of the method, but if the FragmentReturn is a value type it could potentially be okay

If my proposal for switching the behavior of fragments and queries is accepted instead:

Fragments should not be stripped from the base path if the relative path does not contain a fragment

Otherwise:

Fragments should be stripped from the base resource (following html-style provisions)

### Query Resolution
If my proposal for using a different delimeter (i.e. SubFile proposal) for resource pak extraction is accepted, the query should behave like an HTML query, sort of -- the resource will be loaded, and then a QueryRequest will be made that should return a 'copy' of the resource with a different name, parameters changed as needed. The return is required, unlike with the FragmentRequest, and the return of the ResourceCache's GetResource will be that of the QueryRequest.

**TODO:** Decide what must be done for storing SharedPtrs to the resource, given that multiple queries could be but are not necessarily equivalent -- e.g. "Material.xml?UOffset=1 0 0 0&VOffset=0 1 0 0" should be identical to "Material.xml?VOffset=0 1 0 0&UOffset=1 0 0 0", if you ask me.

//If my proposal for switching the behavior of fragments and queries is accepted:

//Queries should be stripped from the base path like html

//Otherwise:

//Queries should not be stripped from the base resource (following html-style provisions)



# Proposed Default Schemes

### file
Used for FileSystem requests. Relative path . by default would be evaluated relative to the present working directory

By default case insensitive


### cache
Used for ResourceCache requests. Relative path . by default would refer to the root of the resource cache folders. It should search through all the resource cache folders like GetResource does now (so GetResource(Path("file.xml")) and GetResource(Path("./file.xml")) should be equivalent).

By default case insensitive

### ResourceDirs (e.g. Data, CoreData)
I feel that teh default ResourceDirs should be added by default.

It is my opinion that, by default, adding a resource directory should add that as a Scheme based on the last folder in the directory path (e.g. /Path/To/Data would be added as Data) and the resource paks as the name without the extension (e.g. /Path/To/Data.1.pak as Data.1). A different scheme should be permitted, however, so as to allow /Mods/Mod0/Resources/ to be added as something specific, such as Mod0 or as Mod0/Resources.

By default case sensitive

### http(s)

Network requests, disabled by default (security) and disabled completely if Networking was not built with Urho. Possibly don't include and just let this be handled as networking is currently handled

By default case insensitive

It sounds like you're trying to cram a task graph into resource resolution.

---

Symbol proposals are already taken per RFC 3986 (though RFC 2396 doesn't reserve \# or % it does still note them as *excluded* from use as ASCII characters):

      reserved    = gen-delims / sub-delims

      gen-delims  = ":" / "/" / "?" / "#" / "[" / "]" / "@"

      sub-delims  = "!" / "$" / "&" / "'" / "(" / ")"
                  / "*" / "+" / "," / ";" / "="

Note that % is still an excluded character that is not permitted for any purpose except octet/hex encoding.

RFC 8089 already defines the rules and general issues regarding file URNs where 3986 falls a bit short.

> It is my opinion that we should actually switch the fragment and the query locations, so as to allow the fragment to be used to access resource pack internals and such. Basically I want to invert how true URIs are parsed.

That is not a good idea. It's one thing to not support portions of a standard but another to change or otherwise twist a standard without warrant. Made worse by even mentioning the source standard.

The fragment identifier goes at the end because **it is not to be transmitted** and may be followed by any allowed ASCII construct (though it is not odd for a quoted-printable to be slapped in there). 

They are without any universal convention. Usually, it's just an identifier or the format of the query string is used (since existing functions then work perfectly fine with everything).

---

The intents are already very clearly defined:

### Query

>> The query component contains non-hierarchical data that, along with
   data in the path component (Section 3.3), serves to identify a
   resource within the scope of the URI's scheme and naming authority
   (if any).  The query component is indicated by the first question
   mark ("?") character and terminated by a number sign ("#") character
   or by the end of the URI.

Query would resolve a file in a PAK, not a fragment.

### Fragment

>> The fragment identifier component of a URI allows indirect
   identification of a secondary resource by reference to a primary
   resource and additional identifying information.  The identified
   secondary resource may be some portion or subset of the primary
   resource, some view on representations of the primary resource, or
   some other resource defined or described by those representations.  A
   fragment identifier component is indicated by the presence of a
   number sign ("#") character and terminated by the end of the URI.

Fragment would resolve a mesh in a model.

This is all quite well established, and probably even more in convention than MIME.

---

> Material.xml?MatEnvMapColor=#FEED

There's no need for the #, the parameter MatEnvMapColor indicates what it is if string interpretation is desired, and if octet/hex interpretation is desired than that's what the % symbol already does. 

Using resource paths to *hide* resource variations probably isn't a good idea when it comes to maintaining and knowing what's going in a project content-wise. That's more the responsibility of tooling and a task-graph to manage what things need to actually exist/no-longer-used than resource resolution.

---

Cache scheme doesn't make any sense. All resources should be going through the cache and first sought in the cache.

Even if that's in the context of `cache://Texture2D/MyTexture.png` that's really going to be `cache://Texture2D/MyFolder/SubFolder/SubFolderC/MyTexture.png` as paths being a part of resource names is pretty important in telling two different resources apart.

---

If you're going to do something like this I wouldn't call it URI-styled, URI-inspired, or URI anything. That'll just create misinterpretation and confusion.

Ah, I forgot the big one, this stuff should be accessible and exposed for manipulation through the Editor.

Specifics such as "I just want these meshes" are trite but the manipulation of values such as material parameters are not and lead to chaos. Subsets are easy, variations are not. 

If variations are actually desired that should be something on its own, not a part of resource loading, as variations may have complicated resolution rules such as planar sides, odd/even parity, validity of mirroring or validity of fitness, etc.

I agree about your concern about calling it URI anything, I'll change it to remove such potential confusion. 

Personally, the only thing I want is relative path support, and everything else I don't have a problem with just using the order of adding the resource directories to determine what is found. I don't see all that much use in being able to specify files inside a resource pack, but from the other discussion it seems like other people might want it, as well as being able to specify the directory/package file from which the resource comes in case of conflicts. And while I agree that the query would suffice to access files in the pack, I don't find it a particularly nice looking solution, as you'd presumably have the file specified in the query and then another query for the file. 

I will grant, it would perhaps be best to just get rid of the queries so as not to add unnecessary confusion and use only fragments. Or perhaps allow queries, but then only use them for requesting a resource from a resource pack (and perhaps whatever a user decides for their custom resources). While I don't think exposure to the Editor is necessarily a good reason (e.g. I don't think it is actually possible to add additional resource directories to a project through the editor), I certainly agree permitting variations like that is likely to cause chaos.

Having given some additional thought to using relative paths (regardless of whether a more complex solution is chosen), the issue to me seems to be with the Serializable class. Resources making other resource requests (like Materials) can pass their own name as the base/absolute path to reference relative paths from, but with the Serializable class that is not exactly the case. Certainly, the Deserializer's name can be used as the base for Load() (though Memory/VectorBuffers don't actually have names), and the XMLFile can be accessed from an XMLElement, but the JSONValue has no access to any file-name containing construct within itself.

I am assuming here that the format for a relative path resource request would be something like GetResource<T>(String filename, String basePath, bool eventOnFailure=false), which would do something like GetResource<T>(AbsolutizePath(filename,basePath),eventOnFailure).

Any thoughts about how this should be handled? I don't care for the idea of requiring JSON paths to be not absolute, so I would suggest adding a basePath parameter to the LoadJSON method (and perhaps to the others as well, so that the basePath can be overridden by a user and not just read from the Deserializer/XMLFile (but allow LoadJSON and Load to be called without the additional basePath parameter, given that it _should_ be possible to read it from the source).

Serializable could remember its base path, in case it was loaded from a file (scene or prefab). Node could also lookup its base path from the parent scene or parent chain.

> Personally, the only thing I want is relative path support, 

Same page, though I like configurable schemes for assured clarity (know exactly where to go to find something, instead of first checking Data, then CoreData, then realizing it's in SubGameData).

I lean strongly towards URI because it has stood the test of time, and is at least reasonably future proof.

Even just relative paths is a well worthwhile upgrade.

I've created an initial version of relative path support ([here](https://github.com/SirNate0/Urho3D/tree/relative-paths)).
Some issues remain:
 - LoadJSON presently cannot do it, as it does not have access to its path:
    - Should JSONValue be modified to include it (either the basePath or a pointer to the JSON File)?
    - Should the LoadJSON functions just require a basePath paramater
 - Handling with scripting still has some things that need to be decided:
    - Should Node.CreateScriptObject be relative to the Node's path or to the Script's?
    - Likewise, how to handle ScriptInstance's loading of a ResourceRef attribute?
 - It is relatively untested -- I confirmed that it works changing a few values in the Ninja Snow War scene, but that was all